
<div class="section col-12">
    <form [formGroup]="expencesForm">
        <div class="form_line row">
            {{ expencesForm.value | json }}
        </div>
        <div class="basicExpences row">
            <mat-form-field>
                <input matInput placeholder="Rent" formControlName="rent">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Pay Day" formControlName="rentpayDay">
                    <mat-option *ngFor="let day of dayOfMonthItems; let i=index;" [value]="day.id">{{day.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div formArrayName="otherExpences">
            <div class="form_line row" *ngFor="let item of otherExpencesForm.controls; let i=index;" [formGroupName]="i">
                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Amount" formControlName="amount">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-select placeholder="Methods of Payment" formControlName="methodsofPayment">
                        <mat-option *ngFor="let item of methodsofPaymentItems; let i=index;" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                
                <mat-form-field>
                    <mat-select placeholder="Pay Day" formControlName="payDay">
                        <mat-option *ngFor="let day of dayOfMonthItems; let i=index;" [value]="day.id">{{day.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                


            </div>
        </div>
        <div class="addOtherExpencesButton row">
            <button mat-raised-button color="primary" (click)="addOtherExpences()">Add</button>
        </div>


    </form>
</div>
