<form formGroup="expencesForm">
<div class="section col-12">
    <div class="form_line row">
        <div class="form_field">
            <div class="form_field_input">
                <input type="text" [formControlName]="rentFormControl" />
            </div>
            <div class="form_field_label">
                <label>Rent</label>
            </div>
        </div>
        <div class="form_field">
            <div class="form_field_input">
                <select formControlName="rentPayDayFormControl">
                    <option *ngFor="let day of dayOfMonth" [ngValue]="day.id">
                      {{ day.name }}
                    </option>
                  </select>
            </div>
            <div class="form_field_label">
                <label>Payday</label>
            </div>
        </div>
    </div>
</div>
</form>