
<div class="section col-12">

    <div>
        Value: {{ expencesForm.value | json }}
    </div>

    <form [formGroup]="expencesForm">
        <mat-form-field>
            <input matInput placeholder="rent" formControlName="rent">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rent Pay Day" formControlName="rentPayDay">
        </mat-form-field>

        <div formControlName="otherExpences">
            <div *ngFor="let phone of otherExpencesForm.controls; let i=index" [formGroupName]="i">
                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Amount" formControlName="amount">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Pay Day" formControlName="payDay">
                </mat-form-field>
                <button mat-raised-button color="warn" (click)="removeOterExpences(i)">Remove</button>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="addOterExpences()">add Oter Expences</button>

    </form>


   


</div>
