<div class="col-12 row">
    <br>
    <h2>Occasional Expenses</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="payDay">
			<th mat-header-cell *matHeaderCellDef>Next Payday</th>
			<td mat-cell *matCellDef="let element">{{setPayday(element)}}</td>
		  </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">{{element.amount}}₪</td>
        </ng-container>
        <ng-container matColumnDef="methodsofPayment">
          <th mat-header-cell *matHeaderCellDef>Methods of<br>Payment</th>
          <td mat-cell *matCellDef="let element">{{setMethodsofPayment(element.methodsofPayment)}}</td>
        </ng-container>
        <ng-container matColumnDef="payments">
            <th mat-header-cell *matHeaderCellDef>Payments</th>
            <td mat-cell *matCellDef="let element">{{element.payments}}</td>
          </ng-container>
        <ng-container matColumnDef="monthlyPayment">
            <th mat-header-cell *matHeaderCellDef>monthly<br>Payment</th>
            <td mat-cell *matCellDef="let element">{{setMonthlyPayment(element)}}<span *ngIf="isPayments(element)">₪</span></td>
          </ng-container>
          <ng-container matColumnDef="firstPayment">
            <th mat-header-cell *matHeaderCellDef>First<br>Payment</th>
            <td mat-cell *matCellDef="let element">{{setPaymentPeriod(element, "first")}}</td>
          </ng-container>
          <ng-container matColumnDef="lastPayment">
            <th mat-header-cell *matHeaderCellDef>Last<br>Payment</th>
            <td mat-cell *matCellDef="let element">{{setPaymentPeriod(element, "last")}}</td>
          </ng-container>
          <ng-container matColumnDef="payed">
            <th mat-header-cell *matHeaderCellDef>Payed</th>
            <td mat-cell *matCellDef="let element">{{setPayed(element)}}<span *ngIf="isPayments(element)">₪</span></td>
          </ng-container>
          <ng-container matColumnDef="payedPayments">
            <th mat-header-cell *matHeaderCellDef>Payed<br>Payments</th>
            <td mat-cell *matCellDef="let element">{{setpayedPayments(element)}}<span *ngIf="isPayments(element)">₪</span></td>
          </ng-container>
          <ng-container matColumnDef="balanceOfPayment">
            <th mat-header-cell *matHeaderCellDef>Balance<br>of Payment</th>
            <td mat-cell *matCellDef="let element">{{setbalanceOfPayment(element)}}<span *ngIf="isPayments(element)">₪</span></td>
          </ng-container>
          <ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let row">
                <button mat-button (click)="editItem(row)" *ngIf="!showHideActions(row)" ><mat-icon>more_vert</mat-icon></button>
                <mat-list  class="fl_actions" role="list" *ngIf="showHideActions(row)"> 
                    <mat-list-item role="listitem"><button mat-button color="basic" (click)="openDialog(row, 'edit')">Edit</button></mat-list-item>
                    <mat-list-item role="listitem"><button mat-button color="basic" (click)="openDialog(row, 'remove')">Remove</button></mat-list-item>
                </mat-list>
			</td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br> 
    <div class="addOtherExpencesButton row col-12">
        <br> 
        <button mat-raised-button color="primary" (click)="openDialog(null, 'add')">Add</button>
    </div>
</div>

