/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    padding: 0px;
    margin: 0px;
}
ul, li, h1{
    padding: 0px;
    margin: 0px;
}

.form_field{
    padding: 0px 10px 0px 0px;
}

mat-form-field { 
}



.section{
    // margin-top: 20px;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.col {
    padding: 0px !important;
}

table {
    width: 100%;
  }


.fl_actions{
    top: 46px;
    background: #272626;
    padding: 4px 0px 4px 0px !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 20px !important;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    line-height: 20px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0px !important;
}


app-occasional-expenses .mat-header-cell{
line-height: 11pt;
}